*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  width: 100vw;
  height: auto;
  background: green;
}

#root {
  width: 98vw;
  height: 96vh;
  background: white;
  border: 4px solid black;
  border-radius: 10px;
  margin: 2vh auto;
  position: relative;
}

.block_entry {
  position: absolute;
  top: 30px;
  left: calc(50% - 150px);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.block_entry_title {
  font-size: 25px;
  color: chocolate;
}

.block_entry_input {
  border-radius: 10px;
  padding: 5px 10px;
  height: 30px;
  width: 330px;
}

.block_entry_btn {
  padding: 5px 25px;
  cursor: pointer;
  border-radius: 10px;
  background: greenyellow;
  transition: all 0.5s ease-in;
}

.block_entry_btn:hover {
  background: green;
  border-radius: 1px;
  color: white;
}

.field_block {
  position: absolute;
  width: 90vw;
  left: 30px;
  top: 30px;
  display: flex;
  align-items: flex-start;
}

.field_box_users {
  position: absolute;
  z-index: 5;
  margin-left: 10px;
  width: 25vw;
  height: auto;
  margin-top: 40px;
  border: 2px solid black;
  border-radius: 10px;
}

.field_box_messenge {
  z-index: 6;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 65vw;
  height: 80vh;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.list_users {
  padding: 10px;
}

.error_mess {
  text-transform: uppercase;
  color: white;
}

.error_mess_activ {
  color: red;
}

.item_user {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
}

.item_user_you {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 10px;
  color: brown;
}

.mess {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mess_text {
  width: 60vw;
  height: 36px;
  margin: 2.5vw;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 10px;
}

.mess_btn {
  position: absolute;
  cursor: pointer;
  top: calc(50% - 18px);
  right: 3vh;
  height: 36px;
  border-radius: 10px;
  background: green;
  padding: 10px;
}

.block_messeng {
  margin: 0 1vw;
  min-height: 65vh;
  width: 62vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: auto;
}

.item_mess {
  width: 62vw;
  padding: 10px;
}

.name_and_data {
  margin-bottom: 8px;
}

.item_mess_you {
  text-align: right;
}

.item_mess_you .name_and_data {
  color: red;
}

